$filled-color: #6a1b9a;
$unchecked-color: #00000089;
$unchecked-disabled-color: #bdbdbd;

$md-checkbox-checked-color: #6a1b9a;
$md-checkbox-border-color: #00000089;
$md-checkbox-size: 20px;
$md-checkbox-checked-size: 10px; 
$md-checkbox-ripple-size: 15px;
$md-checkbox-ripple-hover-size: 10px;

@keyframes ripple {

  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }

  50% { 
    box-shadow: 0px 0px 0px $md-checkbox-ripple-size gba(90, 2, 141, 0.267);
  }

  100% {
    box-shadow: 0px 0px 0px $md-checkbox-ripple-size rgba(0, 0, 0, 0);
  }
}

.checkboxContainer{
  display: flex;
  align-items: center;
  position: relative;
  width:24px;
  height: 24px;
  border-radius: 50px;


  &:hover{
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 20px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 30px;
    box-shadow: rgba(93, 5, 128, 0.500) 0 0 20px;
    background-color: rgba(93, 5, 128, 0.246) ;
  }

  &:focus-within{
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 20px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 30px;
    box-shadow: rgba(93, 5, 128, 0.500) 0 0 20px;
    background-color: rgba(93, 5, 128, 0.246) ;
  }
  
  

  .originalCheckbox{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    cursor: pointer;

    &:disabled + label > .unCheckedCheckbox{
      fill: $unchecked-disabled-color;
    }
  }

  label{
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color:#0000008a;
    cursor: pointer;
    border-radius: 50px;
    
   
  }

  .unCheckedCheckbox{
    height: 24px;
    width: 24px;
    fill: $unchecked-color;
  }

  
  .checkedCheckbox{
    height: 24px;
    width: 24px;
    fill: $filled-color;
  }

  .rippleTarget{
    width:24px;
    height:24px;
    border-radius: 50px;    
  }

  .checkedCheckbox ~ .rippleTarget {
    position: absolute;
    left: 0;
   animation: ripple 0.2s linear forwards;
  }
}


  

  

