$filled-color: #6a1b9a;

.container{
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;

  .originalradioButton{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    cursor: pointer;    
  }

  label{
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color:#0000008a;
    cursor: pointer;
    
  }

  .RadioButtonIcon{
    height: 24px;
    width: 24px;
    fill: $filled-color;
  }

}

  

  

