$toggle-color: #6a1b9a;
$filled-color: #6200ee89;
$unchecked-color: #bdbdbd;

$md-switch-checked-color: #6a1b9a;
$md-switch-border-color: #00000089;
$md-switch-size: 20px;
$md-switch-checked-size: 10px; 
$md-switch-ripple-size: 10px;

@keyframes ripple {

  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }

  50% { 
    box-shadow: 0px 0px 0px $md-switch-ripple-size rgba(90, 2, 141, 0.267);
  }

  100% {
    box-shadow: 0px 0px 0px $md-switch-ripple-size rgba(0, 0, 0, 0);
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-left: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:$unchecked-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -1px;
  background-color: $toggle-color;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:$filled-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $filled-color;
  animation: ripple 0.2s linear forwards;   

}

input:checked + .slider:before {
  background-color: $toggle-color;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  animation: ripple 0.2s linear forwards; 
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  

  

