.navBar {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color:#6a1b9a;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px -4px 10px rgba(0,0,0,.3);
}

.navIcon {
  height:32px;
  width:32px;
  pointer-events: none;
}

.navLabel{
  fill: grey;
  color: grey;
  height: 64px;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  font-family: roboto;
  margin:0px;
  padding: 0px;
}

.active{
  fill: white;
  color: white;
}
